$white-primary: white;
$white-secondary: rgba(255, 255, 255, 0.87);
$black-primary: black;
$black-secondary: rgba(0, 0, 0, 0.87);
$gray-primary: gray;
$gray-secondary: rgba(128, 128, 128, 0.87);
$ltgray-primary: #807e8040;
$sidenav-bg: #263652;
$border-color: #d4d4d4;
$hover-bg-color-ltblue: #b3e8ff;
$focus-bg-color-ltblue: #cff1ff;